@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
.d-jcc {
  display: flex !important;
  justify-content: center !important; }

.d-jcs {
  display: flex !important;
  justify-content: flex-start !important; }

.d-jce {
  display: flex !important;
  justify-content: flex-end !important; }

.d-jcb {
  display: flex !important;
  justify-content: space-between !important; }

.d-jca {
  display: flex !important;
  justify-content: space-around !important; }

.d-jcse {
  display: flex !important;
  justify-content: space-evenly !important; }

.d-aic {
  display: flex !important;
  align-items: center !important; }

.d-ais {
  display: flex !important;
  align-items: flex-start !important; }

.d-aie {
  display: flex !important;
  align-items: flex-end !important; }

.d-flex-row {
  display: flex !important;
  flex-direction: row !important; }

.d-flex-col {
  display: flex !important;
  flex-direction: column !important; }

.d-flex {
  display: flex !important; }

.d-c {
  display: contents; }

.pos-r {
  position: relative; }

.t-c {
  text-align: center; }

.w-100 {
  width: 100% !important; }

.h-100vh {
  height: 100vh; }

.b-pr {
  color: #ffffff !important;
  background-color: #46b3e6 !important;
  border: 0px !important; }

.b-se {
  color: #ffffff !important;
  background-color: #91c235 !important;
  border: 0px !important; }

.navbar {
  margin-top: 10px;
  background: transparent !important;
  color: #ffffff !important; }
  .navbar .logo-text {
    color: #ffffff !important; }
  .navbar .nav-link {
    font-size: 16px;
    padding: 0.9rem 20px !important;
    color: #fff !important;
    font-weight: 400;
    opacity: 1 !important;
    cursor: pointer; }
    .navbar .nav-link:hover {
      color: #91c235 !important; }
  .navbar .fix-link {
    padding: 0.8rem 20px !important; }
    .navbar .fix-link:hover {
      color: #fff !important; }
  .navbar .navbar-nav {
    display: flex;
    align-items: center; }

.btn-prim > a {
  background-color: #46b3e6 !important; }

.btn-secn > a {
  background-color: #91c235 !important; }

.btn-main > a {
  border-radius: 5px;
  padding: 0.5rem 20px !important;
  color: #ffffff !important; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", Arial, sans-serif !important;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999; }

.sec-1-content {
  height: 100vh; }

.section-1 {
  position: relative;
  background: url("../images/bg_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.overlay-1 {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.95;
  background: #207ce5;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5',endColorstr='#499bea',GradientType=1 ); }

.section-7 {
  position: relative;
  background: url("../images/bg_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.overlay-2 {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5; }

.logo-text {
  font-family: "Source Sans Pro", Arial, sans-serif !important !important;
  font-size: 20px !important;
  font-weight: 700 !important; }

.main-text > p:first-child {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px; }
.main-text > h1 {
  font-size: 54px;
  color: #fff;
  line-height: 1.2;
  font-weight: 600; }
.main-text p {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 18px; }

.sub-tab-container {
  position: relative !important;
  margin-top: -100px; }

.sub-nav {
  display: flex;
  justify-content: center; }
  .sub-nav > div > a {
    padding: 10px 30px !important;
    border-radius: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    background: #91c235;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

.tabs {
  background: #fff;
  border-radius: 7px;
  margin-top: -7px;
  box-shadow: 0px 10px 33px -27px rgba(0, 0, 0, 0.4) !important; }

.form-control {
  padding-left: 30px;
  display: block;
  width: 100%;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: rgba(0, 0, 0, 0.7) !important;
  background: rgba(0, 0, 0, 0.05) !important;
  height: 52px !important;
  box-shadow: none !important;
  border-radius: 5px;
  font-weight: 400;
  line-height: 1.5; }

.form-group {
  margin-bottom: 0px !important; }

.skafi-link {
  display: flex;
  justify-content: center; }
  .skafi-link > p > a {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 5px;
    display: inline-block;
    transition: 0.3s all ease; }
  .skafi-link > p > span {
    color: #fff;
    font-weight: 600;
    margin-right: 5px;
    display: inline-block; }

.section-2-container {
  background-color: #91c235;
  padding-bottom: 6rem !important; }

.section-3 {
  background-color: #91c235; }

.section-3 {
  padding-bottom: 6rem !important; }

.media-body > h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #fff !important; }
.media-body > p {
  text-align: center;
  font-size: 16px;
  color: #fff; }

.svg-card {
  fill: #fff !important; }

.section-4 {
  padding: 6rem 0px !important; }

.subheading {
  font-size: 12px;
  display: block;
  margin-bottom: 0px;
  color: #46b3e6;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 0; }
  .subheading::after {
    position: absolute;
    top: 50%;
    content: '';
    width: 50px;
    height: 1px;
    background: #46b3e6;
    z-index: -1;
    right: -70px; }
  .subheading::before {
    position: absolute;
    top: 50%;
    content: '';
    width: 50px;
    height: 1px;
    background: #46b3e6;
    z-index: -1;
    left: -70px; }

.owl-nav {
  display: none !important; }

.owl-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  background: #f1f9fd;
  transition: all 0.3s ease-out;
  cursor: pointer; }
  .owl-item-card:hover {
    background-color: #91c235 !important; }
  .owl-item-card:hover > p {
    background-color: #fff;
    color: #91c235 !important; }
  .owl-item-card:hover > h1 {
    color: #fff !important; }
  .owl-item-card:hover > svg {
    fill: #fff !important; }
  .owl-item-card > svg {
    width: fit-content !important;
    display: flex !important;
    fill: #46b3e6 !important;
    transition: all 0.3s ease-out; }
  .owl-item-card > h1 {
    font-size: 24px;
    color: black;
    text-align: center;
    transition: all 0.3s ease-out; }
  .owl-item-card > p {
    transition: all 0.3s ease-out;
    color: #fff;
    background: #91c235;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    width: 100%; }

.owl-dot > span {
  background: rgba(0, 0, 0, 0.1) !important; }

.active > span {
  background-color: #46b3e6 !important; }

.section-5 {
  padding: 6rem 0px !important; }

.subheading-2 {
  font-size: 12px;
  display: block;
  margin-bottom: 0px;
  color: #46b3e6;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 0; }
  .subheading-2::after {
    position: absolute;
    top: 50%;
    content: '';
    width: 50px;
    height: 1px;
    background: #46b3e6;
    z-index: -1;
    right: -70px; }

.heart {
  opacity: 0 !important;
  transition: all 0.3s ease-out; }

.job-post-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .job-post-item:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.2) !important; }
  .job-post-item:hover .heart {
    transition: all 0.3s ease-out;
    opacity: 1 !important; }

.job-post-item-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important; }

.subadge {
  color: #46b3e6;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px; }

.price-rate {
  margin-left: 250px !important; }

.section-6 {
  padding: 3rem 0px !important;
  background: linear-gradient(45deg, #207ce5 0%, #499bea 100%); }

.section-7 {
  padding: 6rem 0px !important; }

.owl-item-card2 {
  display: block;
  position: relative;
  background: white;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
  border-radius: 5px; }

.user-img {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.owl-dot {
  background-color: transparent !important;
  border: none !important; }

/*# sourceMappingURL=style.css.map */
